h1
{
  font-family: arial;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color:#0000ff;
  background-color:#c1c1c1;
}

a
{
  text-decoration: none;
  font-family: arial;
  font-size: 14px;
  background-color: #ffffff;
  color:#0000ff;
}

a.hover
{
  text-decoration: underline;
  font-family: arial;
  font-size: 14px;
  background-color: #1c1c1c1;
  color:#f10f10;
}
